body {
    background-color: whitesmoke;
    color: grey;
    max width: 900px;
    margin: auto;
}

header{
    margin: 35px 0;
    font-size: 20px;
}

section.TourDates {
    text-align: center;
    background-image: url("https://edm.com/.image/ar_1.91%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_xy_center%2Cq_auto:good%2Cw_1200%2Cx_3084%2Cy_922/MjA2NjY2NTE0MTAxNzczNTE2/fred-again_skyler-greene-for-insomniac-events.jpg");
    padding: 50px 0 100px;
    font-size: 50px;
    
}

a {
    color: black;
}